.profile-container {
  margin: 20px 7%;
}

.profile-header {
  margin: 0 7% 100px;
  /*  变居中*/
  align-items: center;
}

.profile-header-image {
  width: 100%;
}

.profile-title {
  font-size: 30px;
  text-align: center;
  text-decoration: underline;
  margin-bottom: 50px;
}

.circle-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2%;
}

.circle {
  margin: 10px;
}

.profile-image {
  border-radius: 50%;
  width: 300px;
  height: 300px;
}

.profile-name {
  text-align: center;

}